@model DoAnASP.Areas.Admin.Models.BinhLuan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BinhLuan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.taiKhoans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.taiKhoans.IDTK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDBV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDBV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDCH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDCH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IDBL">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
